@use 'countries';

body {
  --clr-bg: var(--clr-dark-100);
  --clr-text: hsl(var(--clr-white), 0.85);
  --clr-primary-100: var(--clr-dark-200);
  --clr-primary-200: var(--clr-dark-200);

  &.light {
    --clr-bg: var(--clr-light-900);
    --clr-text: var(--clr-light-100);
    --clr-primary-100: var(--clr-white);
    --clr-primary-200: var(--clr-light-500);
  }

  background-color: hsl(var(--clr-bg));
  color: var(--clr-text);
}

.header {
  padding-block: 2.3rem;

  background-color: hsl(var(--clr-primary-100));
}

.form {
  --f-direction: column;
  --f-align: start;
  --p-block: 0.6rem;
  --f-gap: 2.5rem;

  .input-group {
    display: inline-flex;
    align-items: center;
    gap: 1.25rem;
    width: 100%;

    border-radius: 5px;

    padding: var(--p-block) 2.5rem;

    background-color: hsl(var(--clr-primary-200));

    svg {
      width: 18px;

      path {
        fill: var(--clr-text);
      }
    }
  }

  input,
  .select {
    border: none;
    border-radius: 5px;

    font-size: var(--fs-300);
    font-weight: 300;
    color: var(--clr-text);
  }

  input {
    width: 100%;
    padding: 0.5rem;

    background-color: transparent;

    &::placeholder {
      color: inherit;
    }

    &:focus {
      outline: 1px solid var(--clr-text);
    }
  }

  .select {
    width: 50%;
    padding: calc(var(--p-block) + 0.5rem) 1rem;

    background-color: hsl(var(--clr-primary-200));
  }
}

.btn {
  border: none;
  color: var(--clr-text);

  font-size: var(--fs-400);
  font-weight: 600;

  display: inline-flex;
  align-items: center;
  gap: 0.55rem;

  cursor: pointer;

  &-theme {
    padding: 0;
    background-color: hsl(var(--clr-primary-100));

    svg {
      width: 10px;
      path {
        fill: var(--clr-text);
      }
    }
  }
}
