.countries-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2.5rem;
}

.card {
  margin-inline: auto;
  width: 270px;
  border-radius: 5px;

  background-color: hsl(var(--clr-primary-100));

  &_img {
    width: 100%;
    height: 170px;

    outline: 1px solid orangered;
  }

  &_body {
    padding: 1.85rem;
  }
}
